body{
    font-family: 'Roboto', sans-serif;

}
.btn{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 400;
}
.half-width{
    width: 50%;
    float: left;
margin-left: 5%;
margin-top: 5%;
padding-left: 3%;
padding-right: 0%;



}
.half-width img{
    width: 70%;
    padding-left: 5%;

}
.heading{
  font-size: 50px;

  font-weight: 700;
}
section{
    display: flex;
    margin-bottom: 150px;
}
#mission{
    color: orange;
}
#my{
    text-align: center;
  font-size: 40px;
  
}
.foot{
    background-color: black;
    width: 100%;
    height:150px;
    margin-top: 10px;
    padding:15px;
    background-size: auto;
    
    
}
h2{
    
    text-align: center;
}
.cen{
    color: gray;
    text-align: center;
    padding-top: 20px;
    
}
.white{
    color: white;
    font-family: 'Lobster', cursive;
    font-weight: 300;
    font-size: 30px;

}
.red{
    color: red;
    font-family: 'Lobster', cursive;
    font-weight: 300;
    font-size: 30px;
}
.box{
    
    text-align: center;
    border: 1px solid;
    padding: 10px;
    box-shadow: 10px 10px salmon;
    padding-bottom: 50px;
    width: 70%;
    margin-left: 200px;
    border-radius: 25px;
    
}
.my-mission{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 40px;
    padding-right: 40px;
   
    border-radius: 20px;
    
}
.my-mission img{
    width: 50%;
    padding-top: 35px;
    
}
.flexi{
    display: flex;
    
    
}
#bgcolor1{
    background-color: #CAEDDC;
}
#bgcolor2{
    background-color: #E9D1CC;
}
#bgcolor3{
background-color: #F2B39E;
}
.scr{
    color: gray;
}
.vl{
    width: 4px;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    height: 100px;
    position: absolute;
    left: 7%;
    margin-top: 130px;
    border-radius: 2px;
    
}
.shape1{
    background-image: url(shapes/shape-1.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 250px;
    margin-right:50px ;
 
    
}
.shape2{
    background-image: url(shapes/shape-1.png);
    background-position: left;
    margin-left: 50px;
    background-repeat: no-repeat;
    background-size: 250px;
}
